@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

/* Tailwind Base Styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animation for the drop */
@keyframes drop-move {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.animate-drop {
  animation: drop-move 3s ease-in-out infinite;
}
